body{background-color: #FDF0F1;}

.box1{width: 900px;
      height: 100px;
      background-color: white;
      margin: auto;
      display: flex;
      float: left;}

.box2{width: 100px;
     height: 100px;
     background-color: #FDCACF;
     transition-property: all;
     transition-duration: 0.7s;
     animation: opacity;
     animation-duration: 1s;
     animation-fill-mode: forwards;
     animation-play-state: paused;}

.box2:hover{background-color: #C2D6FD;
            animation-play-state: running;
            transform: rotate(270deg);}

.box3{width: 100px;
     height: 100px;
     background-color: #C2D6FD;
     transition-property: all;
     transition-duration: 0.7s;
     animation: opacity;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
     animation-play-state: paused;}

.box3:hover{background-color: #FDCACF;
            animation-play-state: running;
            transform: rotate(-270deg);}

@keyframes opacity
           {0%{opacity: 0}
           100%{opacity: 1}}